<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickChat - Home</title>

    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Background -->
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>

    <div class="home-wrapper">

        <!-- 🔹 LEFT SIDE -->
        <div class="left-section">

            <div class="brand">
                <img src="/images/logo.png" class="small-logo">
                <h2>QuickChat</h2>
            </div>

            <p class="tagline">Your personal message are encrypted</p>

            <div class="features">
                <p>✔ Real-time Chat</p>
                <p>✔ Secure Messaging</p>
                <p>✔ Instant Delivered</p>
            </div>

            <div class="home-buttons">
                <a href="/create?page=login">Login ➜</a>
                <a href="/create">Create Account ➜</a>
            </div>

        </div>


        <!-- 🔹 RIGHT SIDE -->
        <div class="right-section"></div>

    </div>

    <div class="footer-links">
        <a href="/privacy.html">Privacy Policy</a>
        <span>|</span>
        <a href="/terms.html">Terms & Conditions</a>
        <span>|</span>
        <a href="/about.html">About</a>
        <span>|</span>
        <a href="/contact.html">Contact</a>
    </div>
</body>
</html>